div {
    font-family: Consolas, "Courier New", monospace;
    border: solid 1px cornflowerblue;
    width: 800px;
    background-color: lightgreen;
}

div div {
    margin: 8px;
    padding: 4px 16px;
    width: 100px;
    border-radius: 6px;
    text-align: center;
}

.flex1,
.flex2,
.flex3,
.flex4 {
    margin-bottom: 16px;
    background-color: gainsboro;
}

.flex1 {
    display: flex;
    flex-direction: row;
}

.flex2 {
    display: flex;
    flex-direction: row-reverse;
}

.flex3 {
    display: flex;
    flex-direction: column;
}

.flex4 {
    display: flex;
    flex-direction: column-reverse;
}
