div {
    width: 150px;
    height: 100px;
    border: solid 2px cornflowerblue;
    margin: 20px;
    background-color: lightgreen;
}

.frame1 {
    border-radius: 8px;
}

.frame2 {
    border-radius: 8px;
    border-bottom-right-radius: 32px;
}

.frame3 {
    border-radius: 10px 20px 40px 80px;
}

.frame4 {
    border-radius: 50%;
}
